
.ordereditor{
    margin: 0;
    padding: 0;
    position: relative; 
    
}
.ordereditor-filetree{
    height: calc(100vh - 45px);
    border-radius: 5px;
    padding: 0;
    padding-right: 5px;
}
.filetree{
    width: 100%;
    height: calc(100vh - 45px);
    background: rgb(245,245,245);
    border-radius: 5px;
}

.ordereditor-content{
    height: calc(100vh - 45px);
    background: rgb(245,245,245);
    border-radius: 5px;
    padding: 0;
}
.show-form{
    display: none;
}

@media ( max-width : 1100px) {
	.ordereditor-filetree {
		display: block;
        flex: 100%;
        max-width:100%;
        padding: 0;
	}
	.ordereditor-content {
        position: absolute;
		display: block;
        flex: 100%;
        max-width:100%;
        padding: 0;
        z-index: 10;
    }
    .hidden{
        z-index: -1;
    }
    .ordereditor-filetree .show-form{
        display: inline-block;
    }
    .ordereditor-content .hidden-option{
        display: inline-block;
    }
    .ordereditor-content .fileeditor{
        margin-left: 5px;
    }
}


.filetree-title{
    height: 30px;
    line-height: 1.7;
    width: 100%;
    background: rgb(0,94,127);
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: bold;
    padding: 4px 11px;
    border-radius: 5px 5px 0 0 ;
    position: relative;
}
.show-edit{
    float: right;
    cursor: pointer;
    line-height: 1.4;
    font-size: 16px;
    display: none;
}
.hidden-option{
    float: left;
    cursor: pointer;
    line-height: 1.4;
    font-size: 16px;
    display: none;
}

.tablist{
    float: right;
    cursor: pointer;
    line-height: 1.4;
    font-size: 16px;
}
.filetree-option{
    padding: 5px;
    height: 45px;
    overflow: hidden;
}
.codemirror-option{
    padding: 5px;
    height: 45px;
    overflow: hidden;
}
.vue-codemirror-wrap{
    height: calc(100vh - 125px);
    margin: 0 5px;
}
.CodeMirror{
    height: calc(100vh - 125px);
    border: 1px  #ddd solid;
}
.filetree-btn{
    cursor: pointer;
    height: 37px;
    line-height: 2;
    width: 36px;
    padding: 0;
    font-size:12px;
    background: rgb(255,255,255);
    border: 1px solid rgb(0,94,127);
    color: rgb(0,94,127);
    position: relative;
    padding-top:14px;
}
.filetree-btn:hover{
    background: rgb(0,94,127);
    color: rgb(255,255,255);
}
.filetree-btn i{
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    top:2px;
    left:10px;
}
.filechange{
    background: rgb(0,94,127);
    color: rgb(255,255,255);
}
.filetree-content{
    height: calc(100vh - 120px);
    border-radius: 0 0 5px 5px;
    overflow: auto;
    position: relative;
}
.filecontent{
    position: relative;
}
.filetitle{
    height: 30px;
    line-height: 1.7;
    width: 100%;
    background: rgb(0,94,127);
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 5px 0 0 ;
    padding: 4px 11px;
}


.filetab {
    position: absolute;
    top:0;
    right: 0;
    width: 195px;
    line-height: 1.5;
    color: rgb(255,255,255);
    font-size: 14px;
    list-style: none; 
    overflow: auto;
    height: calc(100vh - 75px);
    padding: 0;
    margin: 0;
    z-index: 100;
}
.filetab  li{
    position: relative;
    list-style: none; 
    width: 195px;
    height: 25px;
    line-height: 1.5;
    background: rgb(255,255,255);
    border: 1px solid rgb(0,94,127);
    color: rgb(235,235,235);
    font-size: 14px;
    text-align: center;
    margin: 2px 0 0 0 ;
    overflow: hidden;
}
.filetab  li .tab-close{
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
}

.filetab  .active{
    color: rgb(0,94,127);
}
.filespan{
    display: inline-block;
    width: 170px;
    text-align: left;
    cursor: pointer;
}
.mirrorcontent{
    width: 100%;
    height: 100%;
    background: #000;
}
.remove{
    display: none;
}