.iframeeditor{
	width: 100%;
	height: calc(100vh - 45px);
	overflow: hidden;
}
.iframeeditor .iframe{
	height: calc(100vh - 45px);
	width:100%;
	border:0;
	margin:0;
	padding:0;
	border-radius: 5px;
	background: rgb(250,250,250)
}
.iframeeditor .grid-content{
	height: calc(100vh - 45px);
	background:rgb(255,255,255);
}
.iframeeditor .menu{
	position:absolute;
	z-index:2;
	width:230px;
	background:rgb(250,250,250);
	padding:5px;
	border-radius: 5px;
	height: calc(100vh - 45px);
}
.iframeeditor .hidden{
	z-index:-1;
}
.iframeeditor .pd{
	padding-left:235px;
}
.iframeeditor .el-button.is-circle{
	border-radius: 5px;
	outline: none;
	width:25px;
	height:25px;
	position: absolute;
	top:0;
	left:205px;
	color:rgb(0,49,80);
	background:rgb(250,250,250);
	border:0;
	padding:5px;
	z-index:10;
}
.iframeeditor .el-button.goleft{
	left:-10px;
	background:transparent;
	top:0;
}

.iframeeditor .el-card__body{
    padding: 5px;
    border-radius: 0;
}
.iframeeditor .el-card{
    border: 0;
    border-radius: 0;
    margin-top: 2px;
    cursor: pointer;
}

.iframeeditor .el-card.is-always-shadow{
        -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0);
}


.iframeeditor .list{
	height: calc(100vh - 160px);
}
.iframeeditor .option{
	padding:10px 0 5px 0;
}
.iframeeditor .option-btn{
	cursor: pointer;
    height: 37px;
    line-height: 2;
    width: 36px;
    padding: 0;
    font-size:12px;
    background: rgb(220,220,220);
    border: 1px solid rgb(220,220,220);
    color: rgb(255,255,255);
    position: relative;
    padding-top:14px;
}

.iframeeditor .option-btn:hover{
    background: rgb(0,94,127);
    color: rgb(255,255,255);
    border: 1px solid rgb(0,94,127);
}
.iframeeditor .option-btn i{
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    top:2px;
    left:10px;
}

.iframeeditor .search{
	padding:0 0 5px 0;
}

.iframeeditor .search .el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 0px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    outline: none;
}
.iframeeditor .search .el-input-group__append, .iframeeditor .search .el-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 0px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
}