<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/cw.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../vendor/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="../vendor/jquery-ui-1.12.1/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="../vendor/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="../vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../vendor/grid-2.4.1/pqgrid.min.css">
    <link rel="stylesheet" href="../vendor/codemirror-5.42.0/lib/codemirror.css">
    <link rel="stylesheet" href="../vendor/codemirror-5.42.0/addon/hint/show-hint.css">
    <link rel="stylesheet" href="../vendor/grid-2.4.1/themes/office/pqgrid.css" />
    <link rel="stylesheet" href="../vendor/ingrid/ingrid.css">
    <link rel="shortcut icon" href="/imgs/favicon.ico"/>
   	<link rel="bookmark" href="/imgs/favicon.ico"/>
</head>
<body>
	<div class="row grid_model">
		 <div class="col-md-6 grid_left">
		 	<div id="grid_editing"></div>
		 </div>
		 <div class="col-md-6 grid_right" >
		 	<div class="grid_form" style="width:100%">
		 		<div class="title" id="formTile"></div>
		 		<form name="dataform" id="dataform"></form>
		 	</div>
		 </div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		    var map = [[${map}]];
		/*]]>*/
	</script>
	<script src="../vendor/jquery/jquery2.2.4.min.js"></script>
	<script src="../vendor/popper.js/popper.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendor/jquery/jquery.nicescroll.min.js"></script>
	<script src="../vendor/jquery/jquery-ui.min.js"></script>
	<script src="../vendor/jquery/sugar.min.js"></script>
	<script src="../vendor/jquery/jquerymy-1.2.14.min.js"></script>
	<script src="../vendor/select2/dist/js/select2.full.min.js"></script>
	<script src="../vendor/codemirror-5.42.0/lib/codemirror.js"></script>
	<script src="../vendor/codemirror-5.42.0/addon/hint/show-hint.js"></script>
	<script src="../vendor/codemirror-5.42.0/mode/sql/sql.js"></script>
	<script src="../vendor/codemirror-5.42.0/addon/hint/sql-hint.js"></script>
	<script src="../vendor/grid-2.4.1/pqgrid.dev.js"></script>
	<script src="../vendor/grid-2.4.1/localize/pq-localize-zh.js"></script>
	<script src="../vendor/ingrid/pqgridView.js"></script>
	<script src="../vendor/ingrid/dev/database.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="../vendor/html5shiv.min.js"></script>
	  <script src="../vendor/respond.min.js"></script>
	<![endif]-->
</body>
</html>